[general]
# process.py looks for program name
# if it does not find any name, it looks for PID
process_name = geany
process_pid = ""


[alerting]
# change "local" to "matrix" to get a matrix notification
# local uses python library desktop-notifier
notifymethod = local
matrix_token = secret_token_here
matrix_internal_room_id = !<internal_id>
matrix_server_url = matrix_server_URL

# 'https://{your-mattermost-site}/hooks/xxx-generatedkey-xxx'
mattermost_hook_url = ""

# use email "default" value to use your server mailer program with
# your current user@<machine fqdn>
# otherwise use "no" or "yes" and modify other values
use_email = default
smtp_relay = smtp.tld.com
smtp_sender = me@tld.com
smtp_receiver = me@tld.com
smtp_auth_user = ""
smtp_auth_password = ""
